<ion-header>
    <ion-toolbar>
        <ion-searchbar showCancelButton="always" placeholder="Search by name"></ion-searchbar>
    </ion-toolbar>
    <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
        <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-header>

<ion-content>
    <div class="container">
        <h1>dfqsdf</h1>
        <div class="category">
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
        </div>
        <h1>dvfdwvwfqsdf</h1>
        <div class="category">
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
            <div class="card" (click)="clicked.emit()">
                <ion-img [src]="item.image"></ion-img>

                <div class="card-content">
                    <h3 class="title">gegregre</h3>
                    <h2 class="subtitle"><sup>$</sup>88</h2>
                </div>
            </div>
        </div>
    </div>
</ion-content>