<ion-content>
    <!-- HEADER -->
    <div class="header">
        <h1>Recipe</h1>
        <div class="avatar">
            <ion-img src="assets\images\face.png"></ion-img>
        </div>
    </div>
    <!-- CATEGORY -->
    <h1 class="list-header">CATEGORY</h1>

    <div class="categories" *ngIf="listCatg">
        <ion-chip *ngFor="let catg of listCatg.meals" (click)="getCatgDetails(catg.strCategory)">
            <ion-label> {{catg.strCategory}} </ion-label>
        </ion-chip>
    </div>
    <!-- PRODUCTS -->
    <h1 class="list-header">Popular</h1>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="6" *ngFor="let meals of listMeals">
                    <div class="card" (click)="getDetails(meals.idMeal)">
                        <ion-img [src]="meals.strMealThumb"></ion-img>
                        <div class="card-content">
                            <h3 class="title">{{meals.strMeal}}</h3>
                            <ion-buttons slot="start">
                                <ion-button>
                                    <ion-icon slot="icon-only" name="heart"></ion-icon>
                                </ion-button>
                            </ion-buttons>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>