ion-content {
    --padding-start: 1.1rem;
    --padding-end: 1.1rem;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        h1 {
            font-size: 3rem;
            font-weight: 600;
            color: #515151;
            margin: 0;
        }
        .avatar {
            width: 35px;
            height: 35px;
            background-color: #6b45bc;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            ion-img {
                width: 90%;
                height: 90%;
            }
        }
    }
    .categories {
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
    .list-header {
        font-weight: 700;
        color: #515151;
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
        margin-top: 2.5rem;
    }
    .card {
        width: 100%;
        //padding: 1.6rem 2rem;
        background: #f3f3f3;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 20px;
        border-radius: 2.5rem;
        margin-bottom: 1.5rem;
        .card-content {
            text-align: center;
            .title {
                font-weight: 700;
                font-size: 1.1rem;
                margin-bottom: 0.2rem;
                color: #1d1d1d;
            }
            .subtitle {
                font-size: 1.3rem;
                font-weight: 700;
                color: #ffb800;
                margin-top: 0;
                sup {
                    font-size: 1rem;
                    margin-right: 2px;
                    color: #ffb800;
                }
            }
            ion-buttons {
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                ion-button {
                    --background: #6b45bc;
                    font-weight: 700;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    --padding-start: 0;
                    --padding-end: 0;
                    --padding-top: 0;
                    --padding-bottom: 0;
                }
            }
        }
    }
}