/*:host {
    /*ion-tab-bar {
        border: 0;
        display: flex;
        justify-content: space-between;
        ion-icon {
            font-size: 1.6rem;
        }
    }*/


/* ion-tab-button {
        --color-selected: #a0a;
    }*/


/*.tab-selected {
        color: #ffffff;
        background-color: #4c79ff;
        border-radius: 50px;
        max-width: 65px;
        max-height: 45px;
    }*/


/*.ion-activated {
        background: rgb(134, 31, 194);
        color: rgb(134, 31, 194);
        --color-selected: rgb(134, 31, 194);
    }*/


/*ion-tab-button {
        --color: var(--ion-color-medium);
        --color-selected: var(--ion-color-primary);
        &::before {
            background-color: transparent;
            display: block;
            content: "";
            margin: 0 auto;
            width: 20px;
            height: 2px;
        }
        &.tab-selected::before {
            background-color: var(--ion-color-primary);
        }
    }
}*/